h1 {
    font-family: Aachen Bold;
    color: #d4c67b;
    font-weight: 700;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #2c2020; 
}

h2 {
    font-family: Cool Book Sans;
    color: #d4c67b;
}

h3 {
    font-family: Cool Book Sans;
    color: #d4c67b;
    font-weight: 400;
}

h4 {
    font-family: Aachen Bold;
    color: #d4c67b;
    font-size: 30px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #2c2020; 
}

div {
    font-family: Cool Book Sans;
    color: #2c2020;
}

body {
    background-color: #2c2020;
}

.aboutme {
    background-color: #d4c67b;
}

.aachen {
    font-family: Aachen Bold;
}

.coolbooksans {
    font-family: Cool Book Sans;
}

@font-face {
    font-family: Cool Book Sans;
    src: url("assets/Cool Book Sans.ttf");
}

@font-face {
    font-family: Aachen Bold;
    src: url("assets/Aachen Bold.ttf");
}